// COLORS
$white: #FFFFFF;
$offWhite: #F1F1F1;

$black: #111111;
$dark: #383838;

$gold: #d4af37;
$text: #444444;
$light-bg: #e7e7e7;

$box-shadow: 0 0 30px #d4af3780;

// FONTS STACKS
$font-family: "Montserrat",
sans-serif;

// BASE FONTS
$font-family-base: $font-family;
$font-size-base: 1rem;
$font-color-base: $black;

$default-transition : all ease 0.5s;

$radius: 12px;
$radius-lg: 24px;