@import "../abstracts/variables";
@import "../base/mixins";

footer {
    background: #222;
    color: #ccc;
    padding-top: 100px;
    padding-bottom: 1px;
    text-align: center;

    h5 {
        color: $gold;
    }

    p {
        font-size: 15px;

        @include respond-to(sm) {
            font-size: 14px;
        }
    }

    .copyright {
        margin-bottom: 5px;
    }
}

.ftr-logo {
    img {
        max-height: 140px;
        max-width: 140px;
        border: 3px solid $white;
        border-radius: 100vh;
        box-shadow: $box-shadow;
        object-fit: cover;
        aspect-ratio: 1;
        object-position: top;
        margin-bottom: 0.75rem;
    }
}